@import './assets/styles/custom.scss';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: $secondary;
  padding-top: 80px;
}

p {
  font-size: 14px;
}

.p-12 {
  padding: 12px !important;
}

.fs-13 { 
  font-size: 13px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.outlined:hover {
  color: white !important
}